.compras-list > div > div {
  border: 1px solid #204d74;
  padding: 5px;
  margin-top: 15px; }

ol > li {
  margin-bottom: 25px; }
  ol > li > p {
    background-color: #9FCEFF;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px; }

@media print {
  body {
    -webkit-print-color-adjust: exact !important; }

  #facturaForm, .btns-row {
    display: none; } }
