{% load staticfiles %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon.png">
    {% block style %}{% endblock %}
    {% block scripts %}{% endblock %}
    <title>{% block title %} Test Bitgray - Jeyson Molina {% endblock  %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="{%block body_class%}{%endblock%}">

    <header id="{% block header_id %}header{% endblock %}" >
    </header>

    <div id='main-content' class="{%block main_content_class%}{%endblock%}">
        {% block content %}
        CONTENT
        {% endblock%}
    </div>

    <br/>
    {% block body_scripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% endblock %}
</body>
</html>
